<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="FormsController">
    <h1 class="page-header">Forms</h1>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#/forms">Forms</a></li>
        <li role="presentation"><a href="#/fields">Fields</a></li>
    </ul>
    <br>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <span class="caret"></span>
                Form Name
            </th>
            <th>
                <span class="caret"></span>
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input type="text" class="form-control" id="formname" placeholder="name">
            </td>
            <td>
                <div class="input-group">
                    <button class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="btn btn-info">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Registration Form</td>
            <td>
                <div class="input-group">
                    <button class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Contact List</td>

            <td>
                <div class="input-group">
                    <button class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>To do List</td>
            <td>
                <div class="input-group">
                    <button class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


