<div ng-controller="TaskBarController as model">
    <h1 class="page-header text-center">Tasks</h1>
    <div class="visible-xs">
        <a href="#/home/{{model.projectId}}">
            <button class="btn btn-info">
                Return to Project
            </button>
        </a>

    </div>
    <br>
    <table class="table table-responsive table-borderless table-striped">
        <th>
            Task
        </th>
        <th>
            Due Date
        </th>
        <th>
            Status
        </th>
        <th>
            <span></span>
        </th>
        <tr ng-repeat="t in model.tasks">
            <td>
                {{t.name}}
            </td>
            <td>
                {{t.dueDate}}
            </td>
            <td>
                {{t.status}}
            </td>
            <td>
                <a href="#/project/{{model.projectId}}/taskdetails/{{t._id}}">
                    <button class="btn btn-info">
                        <span>Details</span>
                    </button>
                </a>
            </td>
        </tr>
    </table>
        <div ng-include="'views/taskfooter/taskFooter.view.html'"></div>
</div>
