<div ng-controller="TaskBarController as model">
    <h1 class="page-header text-center">Tasks</h1>
    <div class="visible-xs">
        <a href="#/home/{{model.projectId}}">
            <button class="btn btn-info">
                Return to Project
            </button>
        </a>

    </div>
    <br>
    <div>
    <table class="table table-borderless table-striped table-fixed">
        <thead>
        <th width="33.3%">
            Task
        </th>
        <th width="33.3%">
            Due Date
        </th>
        <th with="20%">
            Status
        </th>
        <th with="13.6%">
            <span></span>
        </th>
        </thead>
    </table>
    <div ng-style="{'height': model.chatHeight - 320 + 'px'}" class="bodycontainer">
    <table class="table table-striped table-borderless table-scrollable">
        <tr ng-repeat="t in model.tasks">
            <td width="33.3%">
                {{t.name}}
            </td>
            <td width="33.3%">
                {{t.dueDate}}
            </td>
            <td width="20%">
                {{t.status}}
            </td>
            <td width="13.6%">
                <a href="#/project/{{model.projectId}}/taskdetails/{{t._id}}">
                    <button class="btn btn-info">
                        <span>Details</span>
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    </table>
    </div>
        <div ng-include="'views/taskfooter/taskFooter.view.html'"></div>
</div>
