<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="AdminDMController">
    <h1 class="page-header">Projects
        <div align="right" class="input-group">
            <button ng-click="changePicker()" class="btn btn-info">
                See All or User
            </button>
        </div>
    </h1>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/admin/projects">Projects</a></li>
        <li role="presentation"><a href="#/admin/users">Users</a></li>
        <li role="presentation"><a href="#/admin/tasks">Tasks</a></li>
        <li role="presentation" class="active"><a href="#/admin/dm">Direct Messages</a></li>
        <li role="presentation"><a href="#/admin/message">Messages</a></li>
    </ul>
    <br>

    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>
                <span class="caret"></span>
                DM ID
            </th>
            <th>
                <span class="caret"></span>
                User1 ID
            </th>
            <th>
                <span class="caret"></span>
                User2 ID
            </th>
            <th>
                <span class="caret"></span>
                Message IDs
            </th>
            <th>
                <span class="caret"></span>
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input ng-model="dm._id" type="text" class="form-control" placeholder="dm id">
            </td>
            <td>
                <input ng-model="dm.user1" type="text" class="form-control" placeholder="user1 ID">
            </td>
            <td>
                <input ng-model="dm.user2" type="text" class="form-control" placeholder="user2 ID">
            </td>
            <td>
                <input ng-model="dm.messages" type="text" class="form-control" placeholder="comma separated message IDs">
            </td>
            <td>
                <div class="input-group">
                    <button ng-click="addDM(dm)" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button ng-click="updateDM(dm)" class="btn btn-info">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </div>
            </td>
        </tr>
        <tr ng-repeat="dm in dms">
            <td>{{dm._id}}</td>
            <td>
                {{dm.user1.toString()}}
            </td>
            <td>
                {{dm.user2.toString()}}
            </td>
            <td>
                {{dm.messages.toString()}}
            </td>
            <td width="100px">
                <div class="input-group">
                    <button ng-click="deleteDM(dm)" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button ng-click="selectDM($index)" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
