<div class="col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-2 main" ng-controller="HomeController">
    <div class="chat-body">
        <h1 class="page-header text-center">Hombach Family
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><span class="fa fa-map-marker"></span>&nbsp;Invisible</a></li>
                    <li><a href="#"><span class="fa fa-comments-o"></span>&nbsp;Online</a></li>
                    <li><a href="#"><span class="fa fa-lock"></span>&nbsp;Busy</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><span class="fa fa-circle-o-notch"></span>&nbsp;Logout</a></li>
                </ul>
            </div>
        </h1>
        <div class="visible-xs">
            <a href="#/taskbar">
            <button class="btn btn-info">
                See tasks
            </button>
            </a>
        </div>
        <div id="chatWindow" class="chat-box-div">
            <div class="panel-body chat-box-main">
                <div class="chat-box-left">
                    Lorem
                    ipsum
                    dolor
                    sit
                    amet, consectetur
                    adipiscing
                    elit.Lorem
                    ipsum
                    dolor
                    sit
                    amet, consectetur
                    adipiscing
                    elit.
                </div>
                <div class="chat-box-name-left">
                    <img class="chatIcon"
                         src="https://pbs.twimg.com/profile_images/1407284510/254187_10150214580401865_643336864_7179279_4815578_n.jpg"
                         alt="bootstrap Chat box user image" class="img-circle"/>
                    - Andrew Hombach
                </div>
                <hr class="hr-clas"/>
                <div class="chat-box-right">
                    Lorem
                    ipsum
                    dolor
                    sit
                    amet, consectetur
                    adipiscing
                    elit.Lorem
                    ipsum
                    dolor
                    sit
                    amet, consectetur
                    adipiscing
                    elit.
                </div>
                <div class="chat-box-name-right">
                    <img class="chatIcon" src="https://pbs.twimg.com/profile_images/535191980704555008/YU-yrdKM.jpeg"
                         alt="bootstrap Chat box user image" class="img-circle"/>
                    - Sarah Hombach
                </div>
                <hr class="hr-clas"/>
                <div class="chat-box-left">
                    Lorem
                    ipsum
                    dolor
                    sit
                    amet, consectetur
                    adipiscing
                    elit.Lorem
                    ipsum
                    dolor
                    sit
                    amet, consectetur
                    adipiscing
                    elit.
                </div>
                <div class="chat-box-name-left">
                    <img class="chatIcon"
                         src="https://pbs.twimg.com/profile_images/1407284510/254187_10150214580401865_643336864_7179279_4815578_n.jpg"
                         alt="bootstrap Chat box user image" class="img-circle"/>
                    - Andrew Hombach
                </div>
                <hr class="hr-clas"/>
                <div class="chat-box-right">
                    Lorem
                    ipsum
                    dolor
                    sit
                    amet, consectetur
                    adipiscing
                    elit.Lorem
                    ipsum
                    dolor
                    sit
                    amet, consectetur
                    adipiscing
                    elit.
                </div>
                <div class="chat-box-name-right">
                    <img class="chatIcon" src="https://pbs.twimg.com/profile_images/535191980704555008/YU-yrdKM.jpeg"
                         alt="bootstrap Chat box user image" class="img-circle"/>
                    - Sarah Hombach
                </div>
                <hr class="hr-clas"/>
                <div class="chat-box-right">
                    Lorem
                    ipsum
                    dolor
                    sit
                    amet, consectetur
                    adipiscing
                    elit.Lorem
                    ipsum
                    dolor
                    sit
                    amet, consectetur
                    adipiscing
                    elit.
                </div>
                <div class="chat-box-name-right">
                    <img class="chatIcon" src="https://pbs.twimg.com/profile_images/535191980704555008/YU-yrdKM.jpeg"
                         alt="bootstrap Chat box user image" class="img-circle"/>
                    - Sarah Hombach
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-2  chat-footer">
            <div ng-include="'views/footer/footer.view.html'"></div>
        </div>
    </div>
</div>
<div class="col-sm-offset-3 col-md-offset-0 col-sm-4 disapear">
    <div ng-include="'views/sidebar/taskbar.view.html'"></div>
<div>


