<div class="container-fluid" ng-controller="LoginController">
    <h1 class="page-header text-center">Login</h1>
    <form>
        <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-4">
                <input ng-model="username" type="text" class="form-control" id="InputUsername" placeholder="Username">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-4">
                <input ng-model="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-4 col-sm-4">
                <button class="btn btn-success btn-lg col-xs-12" ng-click="model.login(username, password)">Login</button>
            </div>
        </div>
    </form>
</div>

