<div ng-include="'views/sidebar/sidebar.view.html'"></div>
<div class="col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-2 main" ng-controller="ProfileController">
    <h1 class="page-header">Profile</h1>
    <br>
    <div class="visible-xs">
        <a href="#/projectsbar">
            <button class="btn btn-info">
                See Projects
            </button>
        </a>
    </div>
    <br>
    <div class="row">
    <div class="col-sm-offset-2 col-sm-6">
        <img class="profile-pricture"  src="https://pbs.twimg.com/profile_images/1407284510/254187_10150214580401865_643336864_7179279_4815578_n.jpg">
    </div>
    </div>
    <br>
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-6">
            <button class="btn btn-info btn-lg col-xs-12">Edit Photo</button>
        </div>
    </div>
    <br>
    <form>
        <div class="form-group row">
            <label for="inputUsername" class="col-sm-2 form-control-label">Username:</label>
            <div class="col-sm-10">
                <input ng-model="user.username" type="text" class="form-control" id="inputUsername" placeholder="Username">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 form-control-label">Password:</label>
            <div class="col-sm-10">
                <input ng-model="user.password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group row">
            <label for="firstname" class="col-sm-2 form-control-label">First Name:</label>
            <div class="col-sm-10">
                <input ng-model="user.firstName" type="text" class="form-control" id="firstname" placeholder="First Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="lastname" class="col-sm-2 form-control-label">Last Name:</label>
            <div class="col-sm-10">
                <input ng-model="user.lastName" type="text" class="form-control" id="lastname" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="Email" class="col-sm-2 form-control-label">Email:</label>
            <div class="col-sm-10">
                <input ng-model="user.email" type="Email" class="form-control" id="Email" placeholder="Email">
            </div>
        </div>
        <div class="form-group row">
            <label for="Phone" class="col-sm-2 form-control-label">Phone Number:</label>
            <div class="col-sm-10">
                <input ng-model="user.phoneNumber" type="number" class="form-control" id="Phone" placeholder="Phone Number">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-info btn-lg col-xs-12" ng-click="update(user)">Update</button>
            </div>
        </div>
    </form>
</div>
<div class="col-sm-offset-3 col-md-offset-0 col-sm-4 disapear">
<div ng-include="'views/profilebar/profilebar.view.html'"></div>
</div>