<div ng-include="'views/sidebar/sidebar.view.html'"></div>
<div class="col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-2 main" ng-controller="PublicProfileController as model">
    <br>
    <h1 class="page-header text-center">{{model.user.firstName + " " + model.user.lastName}}</h1>
    <br>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-lg-6 col-lg-offset-0">
            <img ng-class="model.pageWidth ? 'pull-left' : 'pic-center'" class="profile-pricture" src="/api/file/{{model.user.pic}}">
        </div>
        <br>
        <br>
        <div ng-class="model.pageWidth ? 'pull-right' : 'text-center'">
            <table class="table table-responsive table-borderless">
                <tbody>
                    <tr>
                        <td>
                            <h5>Username:</h5>
                        </td>
                        <td>
                            <h5>{{model.user.username}}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Email:</h5>
                        </td>
                        <td>
                            <h5>{{model.user.email}}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Phone Number:</h5>
                        </td>
                        <td>
                            <h5>{{model.user.phoneNumber}}</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <button ng-click="model.directMessage()" class="btn btn-lg btn-success col-xs-offset-1 col-xs-10">
        Direct Message
    </button>
<br class="visible-xs">
</div>
<div class="col-md-offset-0 col-md-4 col-sm-9 col-sm-offset-3">
    <div ng-include="'views/publicprofilebar/publicprofilebar.view.html'"></div>
</div>