<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CoLab</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="cUser" ng-class="{'active': $location.url()=='/admin'}"><a href="#/admin">Admin</a></li>
                <li ng-hide="$location.url() == '/register' || cUser" ng-class="{'active': $location.url()=='/register'}"><a href="#/register">Register</a></li>
                <li ng-hide="$location.url() == '/login' || cUser" ng-class="{'active': $location.url()=='/login'}"><a href="#/login">Login</a></li>
                <li ng-show="cUser" ng-class="{'active': $location.url()=='/profile'}"><a href="#/profile">{{cUser.username}}</a></li>
                <li ng-show="cUser" ng-click="logout()" ><a href="#/splash">Logout</a></li>
                <li ng-show="cUser" class="dropdown visible-xs">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/home">Hombach Family</a></li>
                        <li><a href="#/home">Ski Trip</a></li>
                        <li><a href="#/home">Computer Science Project</a></li>
                        <li><hr></li>
                        <li><a href="#/directmessage">Alice</a></li>
                        <li><a href="#/directmessage">Andrew</a></li>
                        <li><a href="#/directmessage">Bob</a></li>
                    </ul>
                </li>
            </ul>
            <form ng-keypress="searchKey(searchTerm)" ng-click="search()" ng-hide="$location.url() == '/splash' || !cUser" class="navbar-form navbar-right">
                <input ng-model="searchTerm" ng-click="search()" type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>