<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="FieldsController">
    <h1 class="page-header">Forms : Registration Form</h1>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/forms">Forms</a></li>
        <li role="presentation" class="active"><a href="#/fields">Fields</a></li>
    </ul>
    <br>
    <form>
        <div ng-repeat="field in model.fields">
            <label>{{field.label}}</label>
            <div ng-switch="field.type">
                <div ng-switch-when="text">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{{field.placeholder}}">
                        <div class="input-group-btn">
                            <button ng-click="model.editField(field)" type="button" class="btn btn-warning" data-toggle="modal" data-target="#editField">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button type="button" class="btn btn-info">
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="options">
                    <div class="input-group">
                        <select class="form-control">
                            <div ng-repeat="op in field.options">
                                <option>{{op}}</option>
                            </div>
                        </select>
                        <div class="input-group-btn" ng-include="'views/forms/buttons.html'"></div>
                    </div>
                </div>
                <div ng-switch-default>
                    <div class="input-group">
                        <input type="date" class="form-control">
                        <div class="input-group-btn" ng-include="'views/forms/buttons.html'"></div>
                    </div>
                </div>
                <br>
            </div>
        </div>


        <!--
                <label>{{field.label}}</label>
                <div class="input-group">
                    <input type="{{field.type}}" class="form-control" placeholder="{{field.placeholder}}">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-info">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </button>
                    </div>
                </div>
        -->

        <!--
        <label for="input2">Last Name:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="input2" placeholder="Last Name">
            <div class="input-group-btn">
                <button type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
            </div>
        </div>
        <br>
        <label for="input3">Date of Birth:</label>
        <div class="input-group">
            <input type="date" class="form-control" id="input3" placeholder="Select Date">
            <div class="input-group-btn">
                <button type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
            </div>
        </div>
        <br>
        <label for="input4">Gender:</label>
        <div class="input-group">
            <select class="form-control" id="input4">
                <option>Male</option>
                <option>Female</option>
            </select>
            <div class="input-group-btn">
                <button type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
            </div>
        </div>
        <br>
        <label>Roles:</label>
        <div class="input-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox">Admin
                </label>
                <br>
                <label>
                    <input type="checkbox">Student
                </label>
                <br>
                <label>
                    <input type="checkbox">User
                </label>
            </div>
            <div class="input-group-btn">
                <button type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
            </div>
        </div>
        <br>
        <label>License Agreement:</label>
        <div class="input-group">
            <div class="radio">
                <label>
                    <input type="radio" name="option1" id="option1" value="Yes" checked>
                    Yes
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="option2" id="option2" value="No">
                    No
                </label>
            </div>
            <div class="input-group-btn">
                <button type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
            </div>
        </div>
        -->
        <hr>
        <label for="input5">Add New Field:</label>
        <div class="input-group">
            <select class="form-control" id="input5">
                <option>Single Line Text</option>
                <option>Date</option>
                <option>Dropdown</option>
                <option>Checkboxes</option>
                <option>Radio Buttons</option>
                <option>Paragraph Text Field</option>
            </select>
            <div class="input-group-btn">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
    </form>

    <div id="editField" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <h3>{{model.cField.label}}</h3>
                    <form>
                        <label>Label</label>
                        <input ng-model="model.cField.label" class="form-control" type="text" placeholder="{{model.cField.label}}">
                        <br>
                        <label>Placeholder</label>
                        <input ng-model="model.cField.placeholder" class="form-control" type="text" placeholder="{{model.cField.placeholder}}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button ng-click="model.commitEdit(model.cField)" type="button" class="btn btn-default" data-dismiss="modal">Confirm</button>
                </div>
            </div>

        </div>
    </div>
</div>

