<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="AdminController as model">
    <h1 class="page-header">Admin</h1>
    <h2 class="title">Users</h2>
    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>
                Username
                <a ng-click="model.userSort(model.sortOnUsername)">
                    <span ng-hide="model.ascending" class="glyphicon glyphicon-triangle-top"></span>
                    <span ng-show="model.ascending" class="glyphicon glyphicon-triangle-bottom"></span>
                </a>
            </th>
            <th>
                Password
            </th>
            <th>
                First Name
                <a ng-click="model.userSort(model.sortOnFirstName)">
                    <span ng-hide="model.ascending" class="glyphicon glyphicon-triangle-top"></span>
                    <span ng-show="model.ascending" class="glyphicon glyphicon-triangle-bottom"></span>
                </a>
            </th>
            <th>
                Last Name
                <a ng-click="model.userSort(model.sortOnFirstName)">
                    <span ng-hide="model.ascending" class="glyphicon glyphicon-triangle-top"></span>
                    <span ng-show="model.ascending" class="glyphicon glyphicon-triangle-bottom"></span>
                </a>
            </th>
            <th>
                Role
            </th>
            <th>
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input type="text" ng-model="model.user.username" class="form-control" id="username" placeholder="username">
            </td>
            <td>
                <input type="password" ng-model="model.password" class="form-control" id="password" placeholder="password">
            </td>
            <td>
                <input type="text" ng-model="model.user.firstName" class="form-control" id="firstname" placeholder="first name">
            </td>
            <td>
                <input type="text" ng-model="model.user.lastName" class="form-control" id="lastname" placeholder="last name">
            </td>
            <td>
                <input type="text" ng-model="model.user.roles" class="form-control" id="role" placeholder="role1, role2">
            </td>
            <td width="100px">
                <div class="input-group">
                    <button ng-click="model.addUser(model.user)" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button ng-click="model.updateUser(model.user)" class="btn btn-info">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </div>
            </td>
        </tr>
        <tr ng-repeat="u in model.users track by $index">
            <td>{{u.username}}</td>
            <td></td>
            <td>{{u.firstName}}</td>
            <td>{{u.lastName}}</td>
            <td>{{u.roles.toString()}}</td>
            <td>
                <div class="input-group">
                    <button ng-click="model.deleteUser(u)" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button ng-click="model.selectUser($index)" class="btn btn-warning">
                        <span class="glyphicon glyphicon-cog"></span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

