<div class="col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-2 main" ng-controller="TaskDetailsController">
    <div class="col-xs-offset-4 col-xs-6">
        <a href="#/taskedit/{{model.task._id}}">
            <button class="btn btn-info">
                Edit Task
            </button>
        </a>
    </div>
    <br>
    <br>
    <div class="chat-body">
        <br>
        <h1 class="page-header text-center">{{model.task.name}}</h1>
        <div class="visible-xs col-xs-offset-4 col-xs-3">
            <a href="#/taskbar">
                <button class="btn btn-info">
                    Back to Tasks
                </button>
            </a>
        </div>

        <table class="table table-borderless text-center">
            <tr>
                <td>
                    Due Date:
                </td>
                <td>
                    {{model.task.dueDate}}
                </td>
            </tr>
            <tr>
                <td>
                    Creation Date:
                </td>
                <td>
                    {{model.task.createDate}}
                </td>
            </tr>
        </table>
        <hr>
        <h2 class="text-center">Assigned Members:</h2>
        <table class="table table-borderless text-center">
            <tr ng-repeat="u in model.users">
                <td>
                    {{u.firstName + " " + u.lastName}}
                </td>
            </tr>
        </table>
        <hr>
        <h2 class="text-center">Notes</h2>
        <p>{{model.task.notes}}</p>
        <hr>
        <h2 class="text-center">Location</h2>
        <div align="middle">
        <iframe
                width="600"
                height="400"
                frameborder="0" style="border:0" align="middle"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCasNgXTgj-TVaIt6N5GizuoeF7KQMv9VU
    &q=Big+Sur+CA" allowfullscreen>
        </iframe>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-2  chat-footer">
        <div ng-include="'views/footer/footer.view.html'"></div>
    </div>
</div>
<div class="col-sm-offset-3 col-md-offset-0 col-sm-4 disapear">
<div ng-include="'views/taskbar/taskbar.view.html'"></div>
</div>