<div ng-controller="ProjectBarController">
    <h1 class="page-header text-center">Projects</h1>
    <div class="visible-xs">
        <a href="#/profile">
            <button class="btn btn-info">
                See Profile
            </button>
        </a>
    </div>
    <br>
    <table class="table table-responsive table-borderless text-center">
        <tr>
            <td>
                Hombach Family
            </td>
            <td>
                <a href="#/projectdetails">
                    <button class="btn btn-info">
                        <span>Details</span>
                    </button>
                </a>
                <a href="#/projectdetails">
                    <button class="btn btn-danger">
                        <span>Leave</span>
                    </button>
                </a>
            </td>
        </tr>
    </table>
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-8">
            <button class="btn btn-success btn-lg col-xs-12">Add Projects</button>
        </div>
    </div>
</div>
