<div ng-controller="ProfileBarController as model">
    <h1 class="page-header text-center">Projects</h1>
    <br>
    <table class="table table-responsive table-borderless text-center">
        <tr ng-repeat="p in model.projects">
            <td width="50%">
                <h5>{{p.name}}</h5>
            </td>
            <td width="50%">
                <a href="#/projectdetails/{{p._id}}">
                    <button class="btn btn-info">
                        <span>Details</span>
                    </button>
                </a>
                <button class="btn btn-danger" ng-click="model.leaveProject(p._id)">
                    <span>Leave</span>
                </button>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <h1 class="page-header text-center">Tasks</h1>
    <br>
    <table class="table table-responsive table-borderless text-center">
        <tr ng-repeat="t in model.tasks">
            <td class="text-center" width="50%">
                <h5>{{t.name}}</h5>
            </td>
            <td width="50%">
                <button ng-click="model.taskDetails(t._id)" class="btn btn-info">
                    <span>Details</span>
                </button>
            </td>
        </tr>
    </table>
</div>
