<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="ProfileController">
    <h1 class="page-header">Profile</h1>


    <form>
        <div class="form-group row">
            <label for="inputUsername" class="col-sm-2 form-control-label">Username:</label>
            <div class="col-sm-6">
                <input ng-model="model.user.username" type="text" class="form-control" id="inputUsername" placeholder="Username">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 form-control-label">Password:</label>
            <div class="col-sm-6">
                <input ng-model="model.user.password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group row">
            <label for="firstname" class="col-sm-2 form-control-label">First Name:</label>
            <div class="col-sm-6">
                <input ng-model="model.user.firstName" type="text" class="form-control" id="firstname" placeholder="First Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="lastname" class="col-sm-2 form-control-label">Last Name:</label>
            <div class="col-sm-6">
                <input ng-model="model.user.lastName" type="text" class="form-control" id="lastname" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="Email" class="col-sm-2 form-control-label">Emails:</label>
            <div class="col-sm-6">
                <input ng-model="model.user.emails" type="String" class="form-control" id="Email" placeholder="Comma Separated Emails">
            </div>
        </div>
        <div class="form-group row">
            <label for="Phone" class="col-sm-2 form-control-label">Phone Numbers:</label>
            <div class="col-sm-6">
                <input ng-model="model.user.phones" type="String" class="form-control" id="Phone" placeholder="Comma Separated Phone Numbers">
            </div>
        </div>
        <div class="form-group row">
            <label for="Roles" class="col-sm-2 form-control-label">Phone Numbers:</label>
            <div class="col-sm-6">
                <input ng-model="model.user.roles" type="String" class="form-control" id="Roles" placeholder="Comma Separated Roles">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-6">
                <button class="btn btn-info btn-lg col-xs-12" ng-click="model.update(model.user)">Update</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-6">
                <button class="btn btn-info btn-lg col-xs-12" ng-click="model.deleteUser(model.user)">Delete User</button>
            </div>
        </div>
    </form>
</div>
