<div ng-include="'views/sidebar/sidebar.view.html'"></div>
<div class="col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-2 main" ng-controller="HomeController as model">
    <br>
    <div class="chat-body">
        <h1 class="page-header text-center">{{model.project.name}}
            <div class="visible-xs visible-sm pull-left">
                <a href="#/project/{{model.project._id}}/taskbar">
                    <button class="btn btn-info">
                        Tasks
                    </button>
                </a>
            </div>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#/projectdetails/{{model.project._id}}"><span class="fa fa-map-marker"></span>&nbsp;Details</a></li>
                    <li ng-show="model.project.admin == model.me"><a href="#/editproject/{{model.project._id}}"><span class="fa fa-comments-o"></span>&nbsp;Edit</a></li>
                    <li><a href="#"><span class="fa fa-lock"></span>&nbsp;Leave</a></li>
                </ul>
            </div>
        </h1>
        <br class="visible-xs">
        <div ng-style="{'height': model.chatHeight - 240 + 'px'}" class="outer">
        <div id="chatWindow" class="chat-box-div">
            <div scroll-glue class="panel-body chat-box-main inner">
                <div ng-repeat="message in model.messages">
                    <div ng-if="message.userId === model.me">
                        <div class="chat-box-left">
                            <p>{{message.text}}</p>
                        </div>
                        <div class="chat-box-name-left">
                            <a href="#/profile/{{message.userId}}">
                            <img class="chatIcon"
                                 ng-src="/api/file/{{model.getUserPicOfMessage(message.userId)}}"
                                 alt="bootstrap Chat box user image" class="img-circle"/>
                            {{model.getUserOfMessage(message.userId).username}}
                            </a>
                        </div>
                        <br>
                    </div>
                    <div ng-if="message.userId !== model.me">
                        <div class="chat-box-right">
                            <p>{{message.text}}</p>
                        </div>
                        <div class="chat-box-name-right">
                            <a href="#/profile/{{message.userId}}">
                            <img class="chatIcon"
                                 ng-src="/api/file/{{model.getUserPicOfMessage(message.userId)}}"
                                 alt="bootstrap Chat box user image" class="img-circle"/>
                            {{model.getUserOfMessage(message.userId).username}}
                            </a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-2  chat-footer">
        <div ng-include="'views/footer/footer.view.html'"></div>
    </div>
</div>
<div class="col-sm-offset-3 col-md-offset-0 col-sm-4 disapear">
    <div ng-include="'views/taskbar/taskbar.view.html'"></div>
</div>


