<div ng-include="'views/sidebar/sidebar.view.html'"></div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="SearchController">
    <hr>
    <h3>Projects</h3>
    <hr>
    <div ng-repeat="p in projects">
        <a href="#/projectdetails/{{p._id}}">
        <h5>{{p.name}}</h5>
        </a>
    </div>

    <h3>Tasks</h3>
    <hr>
    <div ng-repeat="t in tasks">
        <a href="#/taskdetails/{{t._id}}">
        <h5>{{t.name}}</h5>
        </a>
    </div>

    <h3>Messages</h3>
    <hr>
    <div ng-repeat="t in messages">
        <h5>{{t.text}}</h5>
    </div>
</div>