<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="SearchController">

    <hr>

    <h3>Projects</h3>
    <hr>
    <div ng-repeat="p in projects">
        <h5>{{p.name}}</h5>
    </div>

    <h3>Users</h3>
    <hr>
    <h5>Andrew</h5>
    <h5>Bob</h5>
    <h5>Alice</h5>

    <h3>Tasks</h3>
    <hr>
    <div ng-repeat="t in tasks">
        <h5>{{t.name}}</h5>
    </div>

    <h3>Messages</h3>
    <hr>
    <div ng-repeat="t in messages">
        <h5>{{t.text}}</h5>
    </div>
</div>