<div ng-controller="TaskBarController">
    <h1 class="page-header text-center">Tasks</h1>
    <div class="visible-xs">
        <a href="#/home">
            <button class="btn btn-info">
                Return to Project
            </button>
        </a>

    </div>
    <br>
    <table class="table table-responsive table-borderless table-striped">
        <th>
            Task
        </th>
        <th>
            Due Date
        </th>
        <th>
            Status
        </th>
        <th>
            <span></span>
        </th>
        <tr>
            <td>
                Pack for california
            </td>
            <td>
                March 4, 2016
            </td>
            <td>
                In Progress
            </td>
            <td>
                <a href="#/taskdetails">
                <button class="btn btn-info">
                    <span>Details</span>
                </button>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Finish Computer Science Homework
            </td>
            <td>
                March 4, 2016
            </td>
            <td>
                In progress
            </td>
            <td>
                <a href="#/taskdetails">
                    <button class="btn btn-info">
                        <span>Details</span>
                    </button>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Work out
            </td>
            <td>
                March 8, 2016
            </td>
            <td>
                Not Started
            </td>
            <td>
                <a href="#/taskdetails">
                    <button class="btn btn-info">
                        <span>Details</span>
                    </button>
                </a>
            </td>
        </tr>

    </table>
        <div ng-include="'views/footer/taskFooter.view.html'"></div>
</div>
