<div ng-include="'views/sidebar/sidebar.view.html'"></div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <H3>{{model.project.name}}</H3>
    <a href="#/editproject/{{model.project._id}}">
        <button class="btn btn-warning">
            Edit
        </button>
    </a>
    <br>
    <h5>Description:</h5>
    <p>{{model.project.description}}</p>
    <table class="table table-responsive">
        <thead>
        <th>
            Usernames
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        </thead>
        <tbody>
        <tr ng-repeat="u in model.users">
            <td>
                {{u.username}}
            </td>
            <td>
                {{u.firstName}}
            </td>
            <td>
                {{u.lastName}}
            </td>
        </tr>

        </tbody>
    </table>
    <table class="table table-responsive">
        <thead>
        <th>
            Tasks
        </th>
        <th>
            Users
        </th>
        <th>
            Due Dates
        </th>
        <th>
            Location
        </th>
        <th>
            Status
        </th>
        </thead>
        <tbody>
        <tr ng-repeat="t in model.tasks">
            <td>
                <a href="#/project/{{model.projectId}}/taskdetails/{{t._id}}">
                {{t.name}}
                </a>
            </td>
            <td>
                {{model.showUsers(t.userIds)}}
            </td>
            <td>
                {{t.dueDate}}
            </td>
        </tr>
        </tbody>
    </table>
</div>