<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <H3>Hombach Family</H3>
    <a href="#/editproject">
        <button class="btn btn-warning">
            Edit
        </button>
    </a>
    <br>
    <h5>Description:</h5>
    <p>Lorem ipsum solar blargety blarg blarg</p>
    <table class="table table-responsive">
        <thead>
        <th>
            Members
        </th>
        </thead>
        <tbody>
        <tr>
            <td>
                Andrew
            </td>
        </tr>
        <tr>
            <td>
                Alice
            </td>
        </tr>
        <tr>
            <td>
                Bob
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-responsive">
        <thead>
        <th>
            Tasks
        </th>
        <th>
            Due Dates
        </th>
        </thead>
        <tbody>
        <tr>
            <td>
                Plan Big Sur Drive
            </td>
            <td>
                03/04/2016
            </td>
        </tr>
        </tbody>
    </table>
</div>